<div class="card">
    <div class="card-body">
        <form class="form-horizontal" #taskForm="ngForm">
            <div class="form-group column" style="margin: auto;">
              <div class="form-group row">
                <label for="project" class="col-sm-1 col-form-label">Project:</label>
                <div class="col-sm-3">
                 <input type="text" style="background-color: #eee" class="form-control" id="searchProjectTerm" name="searchProjectTerm" [(ngModel)] = "searchProjectTerm"/>
                </div>
                <div class="col-sm-2">
                 <button class="btn btn-secondary" (click)="searchProjects(searchProjectTerm); openProjectDialog()">Search</button>
                </div>
                </div>   
                    <div class="form-group row">
                    <label for="task" class="col-sm-1 col-form-label">Task:</label>
                    <div class="col-sm-3">
                      <input type="text" style="background-color: #eee" class="form-control" id="taskName" name="taskName" [(ngModel)]='task.taskName' ng-model="task" ng-required="task"/>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="recipient-name" class="col-sm-1 col-form-label">Priority: <b>{{task.priority}}</b></label>
                    <div class="col-sm-3">
                    <mat-slider [(ngModel)]="task.priority" class="form-control" id="priority" name="priority" min="0" max="30" step="1" value="1"></mat-slider>
                    </div>
                    </div>
                    <div class="form-group row">
                      <label for="project" class="col-sm-1 col-form-label">ParentTask:</label>
                      <div class="col-sm-3">
                       <input type="text" style="background-color: #eee" class="form-control" id="searchParentTerm" name="searchParentTerm" [(ngModel)] = "searchParentTerm"/>
                      </div>
                      <div class="col-sm-2">
                       <button class="btn btn-secondary" (click)="searchParentTask(searchParentTerm); openParentDialog()">Search</button>
                      </div>
                      </div>   
                    <div class="form-group row">
                    <label for="task" class="col-sm-1 col-form-label">Start Date:</label>
                    <div class="col-sm-3">
                    <input type="date" required style="background-color: #eee" class="form-control" id="startDate" name="startDate" [(ngModel)]='task.startDate' ng-model="startDate" ng-required="startDate"/>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="task" class="col-sm-1 col-form-label">End Date:</label>
                    <div class="col-sm-3">
                    <input type="date"  required style="background-color: #eee" class="form-control" id="endDate" name="endDate" [(ngModel)]='task.endDate' ng-model="endDate" ng-required="endDate"/>
                    </div>
                    </div>
                    <div class="form-group row">
                      <label for="project" class="col-sm-1 col-form-label">User:</label>
                      <div class="col-sm-3">
                       <input type="text" style="background-color: #eee" class="form-control" id="searchUserTerm" name="searchUserTerm" [(ngModel)] = "searchUserTerm"/>
                      </div>
                      <div class="col-sm-2">
                       <button class="btn btn-secondary" (click)="searchUser(searchUserTerm); openDialog()">Search</button>
                      </div>
                      </div>   
                    <div class="form-group row">
                    <div class="col-sm-2" style="text-align: center">
                    <button type = "submit"  class="btn btn-secondary"(click)="addTask(task);">Add Task</button>
                    </div>
                    <div class="col-sm-2">  
                    <button type = "reset" class="btn btn-secondary" (click)="taskForm.reset()">Reset</button>
                    </div>
                    </div>
                  </div>
                    </form>
    </div>
</div>
<div *ngIf="submitstatus" style="text-align: center;"><h4> Added successfully</h4></div>

