<div style="text-align: center">
  <h1>Project Manager</h1>
</div>
<div class="form-group row" style="margin: auto;">&nbsp;&nbsp;&nbsp; <a [routerLink]="['/project']"><button class="col-sm-1" class="btn btn-light">Add Project</button></a> &nbsp;&nbsp;&nbsp;<a [routerLink]="['/add']"><button class="col-sm-1" class="btn btn-light">Add Task</button></a>
  &nbsp;&nbsp;&nbsp; <a [routerLink]="['/adduser']"><button class="col-sm-1" class="btn btn-light">Add User</button></a>
  &nbsp;&nbsp;&nbsp; <a [routerLink]="['/view']"><button class="col-sm-1" class="btn btn-light">View Task</button></a>
</div>
<div>
<router-outlet></router-outlet>
</div>