<div class="card">
    <div class="card-body">
        <form class="form-horizontal" #userForm="ngForm">
            <div class="form-group column" style="margin: auto;">
                    <div class="form-group row">
                    <label for="user" class="col-sm-2 col-form-label">First Name:</label>
                    <div class="col-sm-3">
                      <input type="text" style="background-color: #eee" class="form-control" id="firstName" name="firstName" [(ngModel)]='user.firstName' ng-model="firstName" ng-required="firstName"/>
                    </div>
                    </div>
                    <div class="form-group row">
                    <label for="user" class="col-sm-2 col-form-label">Last Name:</label>
                    <div class="col-sm-3">
                    <input type="text"required  style="background-color: #eee" class="form-control" id="lastName" name="lastName" [(ngModel)]='user.lastName' ng-model="lastName" ng-required="lastName"/>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label for="user" class="col-sm-2 col-form-label">Employee ID:</label>
                        <div class="col-sm-3">
                        <input type="number"required  style="background-color: #eee" class="form-control" id="employeeId" name="employeeId" [(ngModel)]='user.employeeId' ng-model="employeeId" ng-required="employeeId"/>
                        </div>
                        </div>
                    <div class="form-group row">
                        <div class="col-sm-2" style="text-align: center">
                        <button type = "submit"  class="btn btn-primary" (click)="addUser(user)">Add User</button>
                        </div>
                        <div class="col-sm-2">  
                        <button type = "reset" class="btn btn-secondary" (click)="userForm.reset()">Reset</button>
                        </div>
                        </div>
                    </div>
                    </form>
                    </div>
                    </div>
 <div class="card">
    <div class="card-body" >
        <div class="form-group row">
          <label for="user" class="col-sm-1 col-form-label">Search:</label>
          <div class="col-sm-2">
            <input type="text" style="background-color: #eee" class="form-control" id="project" name="project" [(ngModel)]='userfilter'/>
          </div>
      
          <label for="sort" class="col-sm-1 col-form-label">Sort:</label>
          <div class="col-sm-2">  
            <button  class="btn btn-secondary"(click)="sortByFirstName()">First Name</button>
            </div>
            <div class="col-sm-2">  
            <button  class="btn btn-secondary" (click)="sortByLastName()">Last Name</button>
            </div>
            <div class="col-sm-1">  
            <button  class="btn btn-secondary"(click)="sortById()">Id</button>
            </div>
      </div>
    </div>
</div>
<div class='table-responsive'>
    <table class='table'>
            <tbody>
                <tr *ngFor="let user of usersList |filterdata:'firstName': userfilter">
                    <td >
                        <div class="card"  class="col-sm-6" >
                                <div class="form-group vertical">
                             <div class="card-body" style="background-color: #eee">
                                <p class="card-text">{{user.firstName}}</p>
                                </div> 
                            </div>
                        
                            <div class="form-group vertical">
                                    <div class="card-body" style="background-color: #eee">
                                       <p class="card-text">{{user.lastName}}</p>
                                       </div> 
                                   </div> 
                           
                            
                                   <div class="form-group vertical">
                                        <div class="card-body" style="background-color: #eee">
                                           <p class="card-text">{{user.employeeId}}</p>
                                           </div> 
                                       </div>
                            </div>
                           
                        
                    </td>
                    <td>
                        <div class="form-group vertical">
                            <a [routerLink]="['/editUser',user.userId]"><button class="btn btn-secondary">Edit</button></a>
                        </div>
                        <div class="form-group vertical">
                        <button class="btn btn-secondary" (click)="deleteUser(user)">Delete</button>
                        </div>
                    </td>
                </tr>
                  </tbody>

    </table>
</div>
