<div class="card">
  <div class="card-body" >
      <div class="form-group column">
        <div class="form-group row">
          <label for="project" class="col-sm-1 col-form-label">Project:</label>
          <div class="col-sm-3">
           <input type="text" style="background-color: #eee" class="form-control" id="project" name="project" [(ngModel)] = "searchProjectTerm"/>
          </div>
          <div class="col-sm-2">
           <button class="btn btn-secondary" (click)="searchProjects(searchProjectTerm); openProjectDialog()">Search</button>
          </div>
          </div>   
              <div class="form-group row">
                      <label for="sort" class="col-sm-1 col-form-label">Sort Task By:</label>
                      <div class="col-sm-2">  
                        <button  class="btn btn-secondary" (click)="sortByStartDate()">Start Date</button>
                      </div>
                      <div class="col-sm-2">  
                      <button  class="btn btn-secondary" (click)="sortByEndDate()">End Date</button>
                      </div>
                      <div class="col-sm-2">  
                      <button  class="btn btn-secondary"(click)="sortByPriority()">Priority</button>
                      </div>
                        <div class="col-sm-2">  
                       <button  class="btn btn-secondary">Completed</button>
                      </div>
                  </div>

  
  <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasksList | filterdata:'project': searchProjectTerm ">
               <td><div class="card">
              <div class="card-body" style="background-color: #eee">
                <p class="card-text">{{task.taskName}}</p>
              
              </div>
            </div></td>
          <td><div class="card">
              <div class="card-body" style="background-color: #eee">
                <p class="card-text">{{task.parentTask.parentTask}}</p>
              
              </div>
            </div></td>
              <td>{{task.priority}}</td>
              <td>{{task.startDate | date : 'dd-MM-yyyy'}}</td>
              <td>{{task.endDate | date : 'dd-MM-yyyy'}}</td>
              <td *ngIf= "!task.endTaskStatus"><a [routerLink]="['/edit',task.taskId]"><button>Edit</button></a></td>
              <td *ngIf= "!task.endTaskStatus"><button  (click)="endTask(task)">End</button></td>
          </tr>
        </tbody>
      </table>
        </div>
  </div>